Source: ros-humble-examples-rclrs-minimal-client-service
Section: misc
Priority: optional
Maintainer: Esteve Fernandez <esteve@apache.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-example-interfaces, ros-humble-rclrs, ros-humble-rosidl-runtime-rs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-examples-rclrs-minimal-client-service
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-example-interfaces, ros-humble-rclrs, ros-humble-rosidl-runtime-rs, ros-humble-ros-workspace
Description: Package containing an example of the client-service mechanism in rclrs.
